{% extends "base.html" %}
{% block content %}
  <h1>
    TODO list
    <a href="{% url "task:task-create" %}" class="btn btn-primary link-to-page align-right">Add task</a>
  </h1>
  {% if task_list %}
    {% for task in task_list %}
      <form action="{% url "task:trigger_task" pk=task.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn {% if not task.progress %}btn-secondary{% else %}btn-success{% endif %}">
            {% if task.progress %}Complete{% else %}Undo{% endif %}
          </button>
        </form>
      <p>{{ task.content }}
        {% if task.progress %}
          <span style="color: green">Done</span>
        {% else %}
          <span style="color: red">Not Done</span>
        {% endif %}
      </p>
      <p>{{ task.datetime }}</p>
      {% if task.deadline_datetime %}
        <p>{{ task.deadline_datetime }}</p>
      {% endif %}
      <p>
        {% for tag in task.tag.all %}
          {{ tag.name }}
          {% empty %}
          No tags.
        {% endfor %}

        <a href="{% url "task:task-update" pk=task.id %}" class="btn btn-primary link-to-page align-left">Update</a>
        <a href="{% url "task:task-delete" pk=task.id %}" class="btn btn-primary link-to-page align-left">Delete</a>
      </p>
      <br>
      <hr>
    {% endfor %}
    {% else %}
    <p>There are no task to perform.</p>
  {% endif %}
  
{% endblock %}